<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />


    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="text/csv" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
            <category android:name="android.intent.category.OPENABLE" />
            <data android:mimeType="text/csv" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <category android:name="android.intent.category.OPENABLE" />
            <data android:mimeType="text/csv" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HandwashTracking"
        tools:targetApi="31">

        <activity
            android:name=".gui.MainHandwashing"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.HandwashTracking.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".gui.AdminLoginActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.HandwashTracking.NoActionBar"/>
        <activity
            android:name=".gui.AdminDashboardActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.HandwashTracking.NoActionBar"/> {/* ADD THIS LINE */}

        <activity
            android:name=".gui.ManageEmployeesActivity"
            android:exported="false"
            android:label="Manage Employees"
            android:parentActivityName=".gui.AdminDashboardActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.HandwashTracking.NoActionBar"> {/* Ensure NoActionBar theme is applied */}
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.AdminDashboardActivity" />
        </activity>


        <activity
            android:name=".gui.WetHandsActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.HandwashTracking.NoActionBar"/>
        <activity
            android:name=".gui.ApplySoapActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.HandwashTracking.NoActionBar"/>
        <activity
            android:name=".gui.RinseHandsActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.HandwashTracking.NoActionBar"/>
        <activity
            android:name=".gui.DryHandsActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.HandwashTracking.NoActionBar"/>
        <activity
            android:name=".gui.ConfirmHandwashActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.HandwashTracking.NoActionBar"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jarindimick.handwashtracking.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>